<h1>List of photos</h1>

  <table border= "1">
    <tr>
      <th>Image</th>

      <th>Caption</th>

      <th>Owner</th>

      <th>Posted</th>

      <th></th>
    </tr>

    <% @list_of_photos.each do |an_image| %>
      <tr>

        <td> <img src = "<%= an_image.image%>"> </td>

        <td> <%= an_image.caption %> </td>

        <td> <%= an_image.poster.username %> </td>

        <td> <%= an_image.created_at %> </td>

        <td><a href="/photos/<%= an_image.id %>">
            Show Details
            </a>
        </td>

      </tr>
    <% end %>
  </table>
